.recuadro-fondo-negro-verdoso-container1 {
  width: 75%;
  margin: 0 auto;
  justify-content: flex-end;
}
 
.recuadro-fondo-negro-verdoso-accent2-bg {
  gap: calc(var(--dl-layout-space-oneandhalfunits) * 0.75);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: calc(var(--dl-layout-radius-cardradius) * 0.75);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-app-azulceleste);
}
 
.recuadro-fondo-negro-verdoso-accent2-bg:hover {
  transform: scale3d(1.1,1.1,1.1);
}
 
.recuadro-fondo-negro-verdoso-accent1-bg {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  border-radius: calc(var(--dl-layout-radius-cardradius) * 0.75);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: #010101;
}
 
.recuadro-fondo-negro-verdoso-container2 {
  gap: calc(var(--dl-layout-space-threeunits) * 0.75);
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
  padding-top: calc(var(--dl-layout-space-sixunits) * 0.75);
  padding-left: calc(var(--dl-layout-space-fourunits) * 0.75);
  border-radius: calc(var(--dl-layout-radius-cardradius) * 0.75);
  padding-right: calc(var(--dl-layout-space-fourunits) * 0.75);
  padding-bottom: calc(var(--dl-layout-space-sixunits) * 0.75);
}
 
.recuadro-fondo-negro-verdoso-container2:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.recuadro-fondo-negro-verdoso-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.recuadro-fondo-negro-verdoso-text1 {
  color: #ffffff;
}
 
.recuadro-fondo-negro-verdoso-text2 {
  fill: var(--dl-color-app-blancoffff);
  color: var(--dl-color-app-blancoffff);
  font-size: 22px;
}
 
.recuadro-fondo-negro-verdoso-actions {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.recuadro-fondo-negro-verdoso-text3 {
  display: inline-block;
}
 
.recuadro-fondo-negro-verdoso-text4 {
  display: inline-block;
}
 
.recuadro-fondo-negro-verdoso-text5 {
  color: var(--dl-color-app-blancoffff);
  display: inline-block;
}
 
.recuadro-fondo-negro-verdosoroot-class-name {
  align-self: flex-end;
}
 
.recuadro-fondo-negro-verdosoroot-class-name1 {
  align-self: flex-end;
}
 
@media(max-width: 1200px) {
  .recuadro-fondo-negro-verdoso-container1 {
    width: 85%;
  }
  
  .recuadro-fondo-negro-verdoso-container2 {
    padding: calc(var(--dl-layout-space-fourunits) * 0.75);
  }
}

@media(max-width: 991px) {
  .recuadro-fondo-negro-verdoso-container1 {
    width: 90%;
  }
  
  .recuadro-fondo-negro-verdoso-container2 {
    padding: calc(var(--dl-layout-space-threeunits) * 0.75);
  }
  
  .recuadro-fondo-negro-verdoso-text2 {
    font-size: 20px;
  }
}

@media(max-width: 767px) {
  .recuadro-fondo-negro-verdoso-container1 {
    width: 95%;
  }
  
  .recuadro-fondo-negro-verdoso-container2 {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
    padding: calc(var(--dl-layout-space-twounits) * 0.75);
  }
  
  .recuadro-fondo-negro-verdoso-text2 {
    font-size: 18px;
  }
  
  .recuadro-fondo-negro-verdoso-accent2-bg {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0.5deg) skew(0deg, 0deg);
  }
  
  .recuadro-fondo-negro-verdoso-accent1-bg {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-1deg) skew(0deg, 0deg);
  }
}

@media(max-width: 479px) {
  .recuadro-fondo-negro-verdoso-container1 {
    width: 75%;
    margin: 0 auto;
    position: relative;
  }
  
  .recuadro-fondo-negro-verdoso-container2 {
    padding: calc(var(--dl-layout-space-unit) * 0.75);
  }
  
  .recuadro-fondo-negro-verdoso-text2 {
    font-size: 16px;
  }
  
  .recuadro-fondo-negro-verdoso-actions {
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;
  }
  
  .recuadro-fondo-negro-verdoso-accent2-bg:hover {
    transform: scale3d(1.05,1.05,1.05);
  }
}
