.slogan-interactivo-header78 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  padding-top: 30px;
}
 
.slogan-interactivo-column {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
}
 
.slogan-interactivo-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.slogan-interactivo-text10 {
  color: #ffffff;
  text-align: center;
}
 
.slogan-interactivo-text11 {
  color: #ffffff;
  text-align: center;
}
 
.slogan-interactivo-text12 {
  display: inline-block;
}
 
.slogan-interactivo-text13 {
  display: inline-block;
}
 
.slogan-interactivo-text14 {
  font-size: 28px;
}
 
.slogan-interactivo-text15 {
  font-size: 28px;
}
 
.slogan-interactivo-text16 {
  font-size: 28px;
}
 
.slogan-interactivo-text17 {
  font-size: 28px;
}
 
.slogan-interactivo-text19 {
  display: inline-block;
}
