.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-theme-neutral-dark);
  background-image: linear-gradient(to bottom right, var(--dl-color-theme-neutral-dark), var(--dl-color-theme-primary2));
}
 
.home-text10 {
  color: var(--dl-color-theme-secondary1);
  margin: var(--dl-space-space-fiveunits);
  display: inline-block;
  font-size: 2rem;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
 
.home-text16 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
 
.home-text17 {
  color: var(--dl-color-theme-secondary2);
  display: inline-block;
}
 
.home-text18 {
  color: var(--dl-color-theme-secondary2);
  display: inline-block;
  font-size: 18px;
}
 
.home-text19 {
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
  font-size: 32px;
}
 
.home-text20 {
  color: var(--dl-color-theme-secondary2);
  display: inline-block;
}
 
.home-text21 {
  color: var(--dl-color-theme-secondary2);
  display: inline-block;
}
 
.home-text22 {
  color: var(--dl-color-theme-secondary2);
  display: inline-block;
}
 
.home-text23 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
 
.home-text24 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
 
.home-text25 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
 
.home-text26 {
  display: inline-block;
}
 
.home-text27 {
  display: inline-block;
}
 
.home-text28 {
  display: inline-block;
}
 
.home-text34 {
  display: inline-block;
}
