.header-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}

.header-header {
  width: 100%;
  height: 397px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("/banner.jpg");
  background-position: top;
  animation: pulse 300ms ease normal;
}

.header-image {
  width: 200px;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-fiveunits);
  object-fit: cover;
  transition: transform 0.3s ease;
}

.header-image:hover {
  transform: scale(1.05);
}

.header-text {
  top: var(--dl-space-space-twounits);
  right: var(--dl-space-space-fiveunits);
  color: rgb(222, 222, 222);
  position: absolute;
  font-size: 2rem;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.header-text2 {
  color: rgb(222, 222, 222);
  margin: var(--dl-space-space-fiveunits);
  display: inline-block;
  font-size: 2rem;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.header-navlink {
  display: contents;
}

@keyframes pulse {
  0% {
    opacity: 0.8;
    transform: scale(0.99);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

