.steps1-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.steps1-max-width {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.steps1-container2 {
  gap: var(--dl-space-space-unit);
  width: 338px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.steps1-container3 {
  width: 350px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.steps1-image1 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
}
 
.steps1-text10 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
}
 
.steps1-text11 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  text-align: center;
}
 
.steps1-container4 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.steps1-container5 {
  width: 343px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.steps1-image2 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
}
 
.steps1-text12 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
}
 
.steps1-text13 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  text-align: center;
}
 
.steps1-container6 {
  width: 328px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.steps1-image3 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
}
 
.steps1-text14 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
}
 
.steps1-text15 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  text-align: center;
}
 
.steps1-text16 {
  display: inline-block;
}
 
.steps1-text17 {
  display: inline-block;
}
 
.steps1-text18 {
  display: inline-block;
}
 
.steps1-text19 {
  display: inline-block;
}
 
.steps1-text20 {
  display: inline-block;
}
 
.steps1-text21 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .steps1-max-width {
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .steps1-container2 {
    flex-direction: column;
  }
  .steps1-container3 {
    width: 100%;
  }
  .steps1-container4 {
    flex-direction: column;
  }
  .steps1-container5 {
    width: 100%;
  }
  .steps1-container6 {
    width: 100%;
  }
}
