.boton-con-resplandor-container1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.boton-con-resplandor-text2 {
  display: inline-block;
}
 
.boton-con-resplandorroot-class-name {
  display: flex;
  justify-content: center;
  width: auto;
}
 

 

 

 

 
@media(max-width: 1200px) {
  .boton-con-resplandorroot-class-name {
    left: 0px;
    right: 0px;
    margin: auto;
  }
}
